@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%;
  }

  .dark {
    --background: 0 0% 5%;
    --foreground: 0 0% 95%;
  }

  .red {
    --background: 0 100% 90%;
    --foreground: 0 100% 20%;
    --primary: 0 100% 50%;
  }
}
